.photo-gallery {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1%;
    padding-top: 2%;
    font-family: 'Cinzel', serif;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery img {
    width: 300px;
    height: 300px;
  }
  
  @media (max-width: 767px) {
    /* Set the table width to 100% to make it fill the screen */
    .gallery {
      width: 100%;
    }
  
    /* Set the image width to 100% to make them resize based on screen width */
    .gallery img {
      width: 100%;
    
    }
  }