.article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 700px;
    filter: brightness(.75);
}

.header {
    font-size: 64px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
    font-family: 'Patrick Hand', cursive;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
    top: 400px;
    bottom: 0;
    left: 0;
    right: 0;
  height: 100px;
  filter: brightness(220%);
}

.intro {
    font-size: 24px;
    color: black;
    text-align: center;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.contact{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
    background-color: #C0C0C0;
    margin: 0 auto;
    margin-bottom: 8px;
    min-width: 120px;
    background: rgb(157, 30, 30);
    color: #EEEEEE;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
   }

.contact:hover {
    box-shadow: #EEEEEE 0px 0px 0px 11px, #161616 0px 0px 0px 10px;
    background: #000;
    color: #EEEEEE;
  }

.logohome {
    width: 800px;
}

.businfo { 
  margin: 0 auto;
  padding-top: 50px;
}

.title {
    text-align: center;
    padding-top: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.title1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addy {
    font-size: 20px;
    padding: 0px 32px 0px;
}

.yelp {
    padding-top: 48px;
    display: flex;
    justify-content: center;
}

.review1 {
    border: 1px solid red;
}



@media only screen and (max-width: 767px) {
    .header {
      font-size: 40px;
    }
    .intro {
      font-size: 18px;
      width: 90%;
    }
    .contact {
      width: 100%;
      font-size: 16px;
    }
    .logohome {
      width: 90%;
    }
    .title {
      font-size: 16px;
    }
    .addy {
      font-size: 16px;
    }
  }
  