.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center; 
    align-content: center; 
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-text-container {
    text-align: center;
}

.product-card-container {
    justify-self: center;
    align-self: center;
}

img.canopy {
    width:fit-content;
    height: 300px;
}

h5 {
    padding-top: 10px;
}

.canopy {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1%;
    padding-top: 2%;
}

.canopyPage {
    background-color: white;
}