  .logo {
    height: 136px;
    width: 336px;
    /* margin-bottom: -32px;
    margin-top: -16px; */
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    justify-items:center ;
    background-color: rgb(229, 227, 227);
  }

  .navbar-toggler{
    background-color: rgb(180, 35, 35);
  }

  .navbar {
    font-family: 'Cinzel', serif;
    background-color: rgb(210, 210, 210);
  }
